@use '../../styles/variables';


.figureJobCard {
    background-color: white;
    border-radius: 10px;
    max-width: 1200px;
    margin: 30px auto;
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;

    // shadow
    box-shadow: 5px 5px 40px variables.$DesaturatedDarkCyan;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        max-height: inherit;
        width: 5px;
        background-color: variables.$DesaturatedDarkCyan;
    };

    & img {
        margin-left: 25px;
        align-self: center;
    }
}


// Secondary wrapper
.secondatyWrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
};





.detailsWrapper {
    flex: 1;
    margin-left: 15px;


    // manageable
    & .wrapperTitle {
        display: flex;  
        font-weight: bold;
        color: variables.$DesaturatedDarkCyan;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        flex: 1 1 400px;

        & .companyTag {
            background: variables.$VeryDarkGrayishCyan;
            color: white;
            padding: 5px 12px;
            border-radius: 20px
        };

        & .companyNew {
            color: white;
            background: variables.$DesaturatedDarkCyan;
            padding: 5px 12px;
            border-radius: 20px
        };

    }
}


// tech wrapper
// TODO: MODIFY LATER
.texhnologiesWrapper {
    flex: 1;
    display: flex;
    flex-basis: 400px;

    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    padding: 10px;

    & p {
        color: variables.$DesaturatedDarkCyan;
        background-color: variables.$LightGrayishCyan;
        padding: 8px 15px;
        border-radius: 5px;
        font-weight: bold;
    }
}


@media only screen and (max-width: 550px) {
    .figureJobCard {
        flex-direction: column;
        margin-top: 60px;
        padding-bottom: 0;
        padding: 20px 15px 20px 0;

        & img {
            margin-top: -54px;
            align-self: baseline;
        }
    };

    .secondatyWrapper {
        margin: 15px 15px 0 15px;
        
    };

    .detailsWrapper {
        margin-bottom: 10px;
    }

    .texhnologiesWrapper {
        justify-content: start;
        border-top: 1px solid variables.$DarkGrayishCyan;
        margin: 0;
        padding-top: 10px;

    }
};