@use '../../styles/variables';

/* 
    Header component
        * Use components and variables
        * Use nesting images to stile
*/
.header {
    background: variables.$DesaturatedDarkCyan;
    width: 100%;
    height: 130px;
    
    & img {
        object-fit: cover;
        width: inherit;
        height: inherit;
    }
}



@media only screen and (max-width: variables.$MobileScreen) {
    .header {
        & .headerImgDesktop {
            display: none;
        };
    }
};

@media only screen and (min-width: variables.$MobileScreen) {
    .header {
        & .headerImgMobile {
            display: none;
        };
    }
};


